includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%
    ignoreErrors:
        -
            identifier: missingType.generics
        - '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder constructor invoked with 0 parameters, 1-3 required#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\)#'
        - '#Call to function method_exists\(\) with .*?TreeBuilder.*? and .*?getRootNode.*? will always evaluate to true#'
        - '#Comparison operation ".*?" between \d+ and \d+ is always (true|false)#'
        - '#Else branch is unreachable because ternary operator condition is always true#'

    excludePaths:
        - %currentWorkingDirectory%/.github/*
        - %currentWorkingDirectory%/.idea/*
        - %currentWorkingDirectory%/vendor/*
